// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.star-full {
  color: yellow;
}

.star-empty {
  color: grey;
}

ul {
  list-style-type: none;
}

.card {

  margin: 16px;
  padding: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;

}

.ratings-head{
  display: flex;
  justify-content: space-between;
}
.stars {
  display: flex;
}

.card-photo{
  width: 20px;
  background-color: hotpink;
}